<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">

	<aop:aspectj-autoproxy />

	<bean name="foo" class="de.brockhaus.m2m.aspect.Foo" scope="prototype">
		<constructor-arg>
			<value type="java.lang.String">bar</value>
		</constructor-arg>
	</bean>

	<!-- Logging Aspect -->
	<bean id="logAspect" class="de.brockhaus.m2m.aspect.PerformanceLogAspect" />

	<aop:config>
		<aop:aspect id="aspectLoggging" ref="logAspect">
			<!-- @Around -->
			<aop:pointcut id="pointCutAround"
				expression="execution (* de.brockhaus.m2m.aspect.Foo.doFoo(..))" />
			<aop:around method="logBeforeExecutionTime" pointcut-ref="pointCutAround" />
		</aop:aspect>
	</aop:config>

</beans>